/* Color Variables */

$gameScreenBGColor : rgba(255,0,0,0.5);

/* Background Variables */

/* End Background Variables */

/* Text Color Variables */

/* End Text Color Variables */

/* UI Color Variables */

$footerBackgroundOpen : rgba(255,255,255,0.8);
$footerBackgroundClosed : rgba(255,255,255,0.1);
$backgroundDim : rgba(255,255,255,0.1);

/* End UI Color Variables */

/* End Color Variables */

